<div class="controller">
  <div class="line">
    <button (click)="readKey('ac')">AC</button>
    <button (click)="readKey('neg')">+ / -</button>
  </div>
  <div class="line">
    <button (click)="readKey('7')">7</button>
    <button (click)="readKey('8')">8</button>
    <button (click)="readKey('9')">9</button>
    <button (click)="readKey('/')" class="last">/</button>
  </div>
  <div class="line">
    <button (click)="readKey('4')">4</button>
    <button (click)="readKey('5')">5</button>
    <button (click)="readKey('6')">6</button>
    <button (click)="readKey('*')" class="last">X</button>
  </div>
  <div class="line">
    <button (click)="readKey('1')">1</button>
    <button (click)="readKey('2')">2</button>
    <button (click)="readKey('3')">3</button>
    <button (click)="readKey('-')" class="last">-</button>
  </div>
  <div class="line">
    <button (click)="readKey('0')">0</button>
    <button (click)="readKey('.')">.</button>
    <button (click)="readKey('=')">=</button>
    <button (click)="readKey('+')" class="last">+</button>
  </div>
</div>
