.controller {
  width: 94%;
  margin: 15px auto;
}

.line {
  width: 100%;
  margin: 10px 0;
}

button {
  width: 20%;
  height: 20%;
  background-color: white;
  border: 2px solid #a5a5a5;
  text-align: center;
  padding: 9% 0;
  margin-right: 6.6%;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #f9f9f9;
}

button:active {
  background-color: #e0e0e0;
}

.last {
  margin-right: 0;
}
