<div class="box" id="memory">
  <div class="memoryLine"><span>{{memory3}}</span></div>
  <div class="memoryLine"><span>{{memory2}}</span></div>
  <div class="memoryLine"><span>{{memory1}}</span></div>
</div>
<div class="box">
  <p>{{current}}</p>
</div>
