.box {
  width: 94%;
  border: 2px solid #a5a5a5;
  margin: 15px auto;
}

.memoryLine {
  height: 2em;
  text-align: right;
  margin: 14px;
  display: block;
  vertical-align: bottom;
}

p {
  text-align: right;
  padding: 0 10px;
}

